<div class="{{ type }}-hero-container" style="background-image:url( {% root %}{{ hero-image }} );{% if hero-height %} height: {{ hero-height}}px; {% endif%}">
  <div class="hero-container mdl-grid">
    <div class="mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">

      <div class="{{ type }}-title">{{ hero-title }}</div>
      <div class="{{ type }}-copy">{{ hero-copy }}</div>
    </div>
  </div>
</div>